<% content_for :header do %>
  <div class="row">
    <div class="large-6 columns">
      <h4>Featured Hackathon</h4>

      <h2>MHacks 2014</h2>

      <p>The original epic hackathon</p>

      <%= link_to "Browse Videos", "#", class: "button" %>
    </div>

    <div class="large-6 columns">

      <div class="row">
        <div class="large-6 columns">
          <div class="browser">
            <div class="address-bar"></div>
            <img src="http://img.youtube.com/vi/z2BS1C2PGs4/mqdefault.jpg" />
            <div class="browser-footer"></div>

            <h3>Hello Robin</h3>
            <p></p>
          </div>
        </div>

        <div class="large-6 columns">
          <div class="browser">
            <div class="address-bar"></div>
            <img src="http://img.youtube.com/vi/b8HRtbFRiQc/mqdefault.jpg" />
            <div class="browser-footer"></div>

            <h3>France is dope</h3>
            <p></p>
          </div>
        </div>

      </div>

      <div class="large-6 columns"></div>
    </div>
  </div>
<% end %>

<div id="software-gallery" class="section row">

</div>
