<% if(video_thumbnail) { %>
  <a href="<%= software_url %>">
    <div class="large-3 columns thumbnail">
      <img src="<%= video_thumbnail %>" />

      <h3><%= name %></h3>
      <p><%= tagline %></p>
    </div>
  </a>
<% } %>
